.movie-details-container {
    margin-left: 64px;
    position: relative;
}

.movie-details-container::before {
    content: "";
    display: block;
    padding-top: 39.4%;
}

.movie-details-imgage {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.left-layer {
    background-image: linear-gradient(270deg, rgba(17, 19, 25, 0) 0%, rgba(17, 19, 25, 0.05) 16%, rgba(17, 19, 25, 0.2) 30%, rgba(17, 19, 25, 0.39) 43%, rgba(17, 19, 25, 0.61) 55%, rgba(17, 19, 25, 0.8) 68%, rgba(17, 19, 25, 0.95) 82%, rgb(17, 19, 25) 98%);
    width: 52%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.bottom-layer {
    width: 100%;
    height: 36%;
    background-image: linear-gradient(179deg, rgba(17, 19, 25, 0) 1%, rgba(17, 19, 25, 0.05) 17%, rgba(17, 19, 25, 0.2) 31%, rgba(17, 19, 25, 0.39) 44%, rgba(17, 19, 25, 0.61) 56%, rgba(17, 19, 25, 0.8) 69%, rgba(17, 19, 25, 0.95) 83%, rgb(17, 19, 25) 99%);
    border-radius: 1px;
    z-index: 99;
    position: absolute;
    bottom: 0px;
}

.movie-details-imgage .img-container {
    width: 100%;
    position: relative;
}

.movie-details-imgage .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-details-info {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: -30%;
    position: relative;
    z-index: 919;
    flex-direction: column;
}

.movie-details-content{
    width: 550px;
}

.movie-details-content .title{
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    text-align: left;
}

.movie-details-content .extra-info{
    display: flex;
    padding: 14px 0;
}

.movie-details-content .rate{
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.movie-details-content .date{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.movie-details-content .date::before{
    content: "";
    display: inline-block;
    margin: 0 6px;
    height: 10px;
    width: 2px;
    background: rgba(255, 255, 255, 0.2);
}

.movie-details-content .date::after{
    content: "";
    display: inline-block;
    margin: 0 6px;
    height: 10px;
    width: 2px;
    background: rgba(255, 255, 255, 0.2);
}

.movie-details-content .duration{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.movie-details-content .genres{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: rgb(236, 236, 236);
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px
}

.movie-details-content .genre-item{
    display: inline-block;
    margin-right: 6px;
    padding: 0px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.movie-details-content .cast{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    margin-bottom: 8px;
}

.movie-details-content .description{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    position: relative;
}

b{
    color: rgb(169, 169, 172);
    padding-right: 4px;
}



.btn-collapse{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    color: #ccc;
    bottom: 0;
    right: 2px;
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0) 0%, rgb(17, 19, 25) 20%);
    display: inline-flex;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;

}

.btn-collapse:hover{
    color: var(--primary-color);
}

.movie-details-btn{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    height: 36px;
    color: rgb(255, 255, 255);
    line-height: 20px;
}

.btn{
    border-radius: 4px;
    padding: 0px 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    height: 36px;
    cursor: pointer;
}

.movie-details-btn .btn-play{
    min-width: 68px;
    background-color: var(--primary-color);
}

.movie-details-btn .btn-watchlater span,
.movie-details-btn .btn-share span,
.movie-details-btn .btn-play span{
    padding-left: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.movie-details-btn .btn-share{
    background: rgb(45, 47, 52);
    cursor: pointer;
    margin: 0 12px;
}

.movie-details-btn .btn-watchlater{
    background: rgb(45, 47, 52);
    text-align: center;
   
}

.movie-details-btn .btn-play:hover{
    background: rgb(73, 210, 109);
}

.movie-details-btn .btn-watchlater:hover,
.movie-details-btn .btn-share:hover{

    background: rgb(86, 87, 91);
}

.movie-details-episode{
    margin-top: 20px;
    padding-right: 64px;
}

.tap-top{
    display: flex;
}

.tap-list{
    opacity: 0.6;
    height: 56px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.selected{
    opacity: 1;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 4px solid rgb(28, 199, 73);
}

.tap-bottom-line{
    opacity: 0.15;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.tap-contents{
    padding-top: 24px;
    margin-bottom: 50px;
}
/* tap-episodes */

.tap-episodes{
    display: none;
}



.tap-episodes .episode-info{
    color: rgb(230, 230, 230);
    line-height: 16px;
    font-size: 12px;
}

.tap-episodes .episodes{
    margin-top: 16px;
    
}

.tap-episodes .item{
    width: calc(23%);
    margin-right: 16px;
    margin-bottom: 30px;
    display: inline-block;
    transition: 0.3s ;
    cursor: pointer;
}

.tap-episodes .item .img-container{
    width: 100%;
}

.tap-episodes .item .img-container img{
    width: 100%;
    object-fit: cover;
}

.episode-title{
    padding: 0.1rem 0px 0px;
    font-size: 14px;

}

.tap-episodes .item:hover{
    transform: scale(1.06);
    color: var(--primary-color);
}

/* taptrailer */

.tap-trailer{
    height: 700px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    display: none;
}

.tap-trailer iframe{
    width: 90%;
    height: 90%;
}

/*  */
.showEpisodeTap{
    display: block;
}

.showTrailerTap{
    display: flex;
}