.p-t-0{
    margin-top: 0 !important;
}

.show-block{
    display: block !important;
}

.hide{
    display: none !important;
}

.account-info-container{
    padding-top: 60px;
    height: 100%;
    display: flex;
}
.account-sidebar{
    width: 224px;
    background-color:rgb(26, 28, 34);;
}

.margin-zero{
    margin: 8px 0 !important;
}

.account-sidebar-header{
    display: flex;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 22px 28px;
}

.account-sidebar-header .avatar{
    width: 48px;
    height: 48px;
}

.account-sidebar-header .avatar img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.account-sidebar-header .username{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 12px;
}

.account-sidebar-bottom,
.account-sidebar-body{
    padding: 0 24px
}

.account-sidebar-body-item{
    height: 56px;
    line-height: 56px;
    display: flex;
}

.account-sidebar-body-item:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.account-content-container{
    flex: 1;
    padding: 0 64px;
    margin-top: 32px;
    min-height: 500px;
}

.my-account-content{
    display: none;
}

.watchlist-content .title,
.history-content .title,
.my-account-content .title{
    font-size: 30px;
    text-align: center;
    
}

/* profile user */
.setting-container{
    padding-top: 32px;
}

.profile-container{
    margin-bottom: 32px;
}


.setting-container .subtitle{
    color: rgb(130, 131, 135);
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
}

.profile-container .profile{
    display: flex;
    background-color: rgb(26, 28, 34);
    padding: 24px 32px;
    border-radius: 6px;
}

.profile-container .profile-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-right: 24px;
}

.profile-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
} 

.profile-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info .username{
    color: rgb(236, 236, 236);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 4px;
}

.profile-other-info{
    display: flex;
    font-size: 14px;
}

.vertical-line{
    width: 1px;
    height: 80%;
    background: rgba(255, 255, 255, 0.15);
    margin: 0 24px;
}

.profile-other-info span{
    color: rgb(130, 131, 135);
    margin-right: 4px;
}

.profile-safe{
    margin-bottom: 32px;
}

.account-security{
    background: rgb(26, 28, 34);
    border-radius: 6px;
}

.profile-safe .account-security-item{
    display: flex;
    margin: 0 24px;
    padding: 24px 0;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.oneline{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}



.account-security-item .email{
    color: rgb(130, 131, 135);
    margin-right: 12px;
   
}

.account-security-item .edit{
    position: absolute;
    right: 32px;
    cursor: pointer;
    font-weight: 700;
}

.account-security-item .edit:hover{
    color: var(--primary-color);
}

.profile-safe .account-security-item:last-child{
    border-bottom: none;
}

/* movie history */
.history-content{
    padding: 0 32px;
    padding-bottom: 60px;
    display: none;
}

.movie-history{
    display: flex;
    flex-wrap: wrap;
}

.movie-history .movie-item{
    width: 23%;
    cursor: pointer;
    margin-right: 2%;
    margin-bottom: 30px;
}

.movie-item .img .episode-number{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.movie-history .img{
    width: 100%;
    position: relative;
}

.movie-history img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.play-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary-color);
    display: none;
}

.movie-history .movie-title{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}

    .movie-item:hover .play-icon{
        display: block;
        cursor: pointer;
    }

/* watch later */
.watchlist-content{
    display: none;
}

/* button */

.edit-btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit-btn-container .delete,
.edit-btn-container .cancle,
.watchlist-content .edit-btn{
    font-size: 16px;
    width: 96px;
    height: 36px;
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 6px;
}
.edit-btn-container .button-container{
    display: flex;
}

.edit-btn-container .cancle{
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    margin-right: 16px;
}

.edit-btn-container .delete{
    opacity: 0.3;
    cursor: default;
}

.edit-btn-container .enable{
    opacity:1;
    cursor: pointer;
}

.edit-btn-container .enable:hover{
    opacity: 0.8;
}

.movie-watchlater{
    display: flex;
    flex-wrap: wrap;
}


.movie-watchlater .movie-item{
    position: relative;
    width: 23%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2%;
    margin-bottom: 40px;
    
}

.movie-watchlater .movie-item:last-child{
    margin-right: 0;
}

.movie-watchlater .img{
    width: 100%;
    position: relative;
}

.movie-watchlater img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.circle-icon-big {
    position: absolute;
    margin-right: 6px;
    border: 2px solid;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    right: 4%;
    top: 6%;
    opacity: 0;
}

.circle-icon-big-color{
    color: var(--primary-color);
    position: absolute;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    right: 4%;
    top: 6%;
    opacity: 0;
    z-index: 3;
    background-color: #fff;
    border-radius: 50%;
}

.play-icon-watchlater{
    bottom: 40%;
    right: 46%;
}

.movie-watchlater .movie-title{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}

.circle-icon{
    margin-right: 6px;
    border:  2px solid ;
    width: 18px;
    height: 18px;
    border: 3px solid #6c6a6a; 
    border-radius: 50%;
    background-color: transparent;
}

.circle-icon-color{
    color: var(--primary-color);
    margin-right: 6px;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background-color: #fff; 
}

.p-b-40{
    padding-bottom: 40px;
}

.select-all-container{
    position: relative;
    transition: 0.3s;
}

.select-all{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    top: 0;
}

.select-all-title{
    opacity: 0.85;
}

.mask{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

/* edit mode */

.movie-item .play-icon {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .movie-item:hover .play-icon {
    opacity: 1;
  }
  
  /* Thêm quy tắc này */
  .edit-mode .movie-item .play-icon {
    opacity: 0 !important;
  }

  .edit-mode .movie-item .movie-title,
  .edit-mode .movie-item img{
    opacity: 0.7;
  }

  .edit-mode .circle-icon-big-color,
  .edit-mode .circle-icon-big{
    opacity: 1;
  }

  .empty-watchlist{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .empty-watchlist .title{
    font-size: 22px;
    opacity: 0.87;
    margin-bottom: 10px;
  }

  .empty-watchlist .desc{
    font-size: 16px;
    opacity: 0.6;
  }

  .empty-watchlist .watch-now{
    background: rgb(28, 199, 73);
    border-radius: 4px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    padding: 0px 12px;
    margin-top: 24px;
    cursor: pointer;
    border: none;
  }
  


