@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --primary-color: rgb(28, 199, 73);
}

*:focus,
*:active {
    outline: none; 
    background-color: transparent;
}

@keyframes scaleImg{
0% {
  transform: scale(0.95);
}
100% {
  transform: scale(1);
}
}

@keyframes show{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(17, 19, 25);
}

::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(55, 56, 61);
}

p{
  margin: 0;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

main{
  height: 100%;
}

ul{
  padding: 0;
  margin: 0;
}

.App{
  background-color: rgb(17, 19, 25);
  color: white;
}


